
*{
    box-sizing: border-box;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 95%;
    background-color: #DDA94B;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
}
button{
    border-radius: 15px;
    border: none;
    font-size: 1.4em;
    padding: 10px;
    width: 9em;
}
button:hover{
    color: white;
    background-color: #1E4174;
}
.card{
    height: 70vh;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
}
p{
    font-size: 1.4em;
    width: 90%;
    height: 60%;
}