.progress-cont{

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.progress-cont div{
    color: white;
}

.progress-bar{
    color: white;
    text-align: right;
    margin-top: 50px;
    width: 55%;
    height: 30px;
    background-color: gray;
    border: 2px solid black;
    outline: 1px solid black;
    border-radius: 15px;

}
.header{
    height: 4.5rem;
    background-color: #DDA94B;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2em;
    border-radius:  0px 0px 15px 15px ;
}