.progress-bar{
    margin-top: 50px;
    width: 60%;
    background-color: brown;
}
.header{
    height: 4.5rem;
    background-color: #DDA94B;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2em;
    border-radius:  0px 0px 15px 15px ;
}